Allow for optional Byte-Range field.

According RFC 4975, section 7.3.1, in a single MSRP SEND packet, the `Byte-Range` field is _optional_.
(see also [this pull request](https://github.com/MSRP-OSS/msrp-csharp/pull/2)).

Have the code handle that and create a unit test for it.

Whoops!, github is too enthousiastic with closing on commits, whereas a unit-test still needs to be created.
Hence we re-open.