Continuation flag is incorrect is MSRP chunks (except the last one)

Below is an example of chunks created by the code
```
MSRP tkgI2OS3 SEND
To-Path: msrp://127.0.0.1:63031/02pe42ju;tcp
From-Path: msrp://127.0.0.1:63030/0Z0Gr8tg;tcp
Message-ID: 9647410634e24bac8f8d22d0087e8c0d
Byte-Range: 1-*/256
Content-Type: plain/text

dJ2T12mC003ydNDHqg1NHE3bT2ao0N0CJ12010CX8Qh29h0E1E1md112120PqFus3gp2iLbbC0720laBm210DIe32G7g2i11391VZa7302bezj22Lro1120E0GDuEp0A
-------tkgI2OS3$
MSRP 0P3y2ck0 SEND
To-Path: msrp://127.0.0.1:63031/02pe42ju;tcp
From-Path: msrp://127.0.0.1:63030/0Z0Gr8tg;tcp
Message-ID: 9647410634e24bac8f8d22d0087e8c0d
Byte-Range: 129-*/256
Content-Type: plain/text

OH2NLb0I3HJf0nV08O00p0hd11K0p01SkiYH3D21eO30A0a39pHl2z0BE0VVq1B11x0g2cpDEezD60110e0q1iDfpEM5Wh309vEDKQL2ta002ayI3AX3V1CrGK600pYL
-------0P3y2ck0$
```

The continuation flag in the first SEND should be `+` instead of `$` [according to RFC 4975, Section 5.1](https://tools.ietf.org/html/rfc4975#section-5.1)

@optimusprime01  - indeed you are correct - coming from page 17 of the RFC:

"The end-line that terminates the request MUST be composed of seven
   "-" (minus sign) characters, the transaction ID as used in the start
   line, and a flag character.  If a body is present, the end-line MUST
   be preceded by a CRLF that is not part of the body.  If the chunk
   represents the data that forms the end of the complete message, the
   flag value MUST be a "$".  If the sender is aborting an incomplete
   message, and intends to send no further chunks in that message, the
   flag MUST be a "#".  Otherwise, the flag MUST be a "+".
" 
+ the example that you pointed out.
I'm not sure why or if there was a reason for me doing this in the first place - but I think even if there was it's just incorrect.

can you provide a PR for this?